<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}
		<p><a href={{github_link}}>Github Link</a></p>
		<p><a href={{project_link}}>Blogspot Link</a></p>
		{{> footer}}
	</body>
</html>